 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('image/img.jpg') center/cover;
}

.calculator{
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 20px;
    border-radius: 16px;
    background: transparent;
}

input{
    width: 320px;
    border: none;
    border-radius: 10px;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(255, 255, 255, .2);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #fff;

}

input::placeholder{
    color: #fff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 20px;
    background: transparent;
    color: #fff;
    font-size: 20px;
    box-shadow: -4px 3px 10px rgba(255, 255, 255, .2);
    cursor: pointer;
} 

.equalBtn{
    background-color: #d6680e;
}
.operator{
    color: #6dee0a;
}